<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <script type="text/javascript" src="../js/index.js"></script>
    <title></title>
</head>
<body>
<header>
    <div class="penLogo">
        <img id="brand" src="../assets/pics/PenPalsBatPen.png">
    </div>
</header>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img class="album-photo" src="../assets/pics/aborigines.jpg">
            </div>
            <div class="col-md-4">
                <h1>OG Aborigines</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto assumenda consequuntur
                    dolore eaque earum facilis id, illo incidunt ipsam ipsum odit, perspiciatis praesentium, quae
                    quaerat quam quia recusandae unde? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aliquid beatae consequatur distinctio dolore earum, eius fuga harum hic illum iste maiores
                    natus, nesciunt optio possimus quibusdam recusandae, repellendus sapiente voluptatem.</p>
                <p>Sugar plum muffin cookie pastry oat cake icing candy canes chocolate. Gummi bears chupa chups
                    fruitcake dessert jelly. Muffin cookie ice cream soufflé pastry lollipop gingerbread sweet.
                    Unerdwear.com bonbon candy marzipan bonbon gummies chocolate cake gummi bears powder.
                    Unerdwear.com
                    tart halvah chocolate cake dragée liquorice. Sugar plum chocolate bar pastry liquorice dragée
                    jelly
                    powder. Jelly tootsie roll applicake caramels. Marzipan candy tootsie roll donut. Gummies ice
                    cream
                    macaroon applicake.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img class="album-photo" src="../assets/pics/penPals.jpg">
            </div>
            <div class="col-md-4">
                <h1>Header Resize On Scroll with Animations</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto assumenda consequuntur
                    dolore eaque earum facilis id, illo incidunt ipsam ipsum odit, perspiciatis praesentium, quae
                    quaerat quam quia recusandae unde? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aliquid beatae consequatur distinctio dolore earum, eius fuga harum hic illum iste maiores
                    natus, nesciunt optio possimus quibusdam recusandae, repellendus sapiente voluptatem.</p>
                <p>Sugar plum muffin cookie pastry oat cake icing candy canes chocolate. Gummi bears chupa chups
                    fruitcake dessert jelly. Muffin cookie ice cream soufflé pastry lollipop gingerbread sweet.
                    Unerdwear.com bonbon candy marzipan bonbon gummies chocolate cake gummi bears powder.
                    Unerdwear.com
                    tart halvah chocolate cake dragée liquorice. Sugar plum chocolate bar pastry liquorice dragée
                    jelly
                    powder. Jelly tootsie roll applicake caramels. Marzipan candy tootsie roll donut. Gummies ice
                    cream
                    macaroon applicake.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img class="album-photo" src="../assets/pics/cynicApache.jpg">
            </div>
            <div class="col-md-4">
                <h1>Header Resize On Scroll with Animations</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto assumenda consequuntur
                    dolore eaque earum facilis id, illo incidunt ipsam ipsum odit, perspiciatis praesentium, quae
                    quaerat quam quia recusandae unde? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aliquid beatae consequatur distinctio dolore earum, eius fuga harum hic illum iste maiores
                    natus, nesciunt optio possimus quibusdam recusandae, repellendus sapiente voluptatem.</p>
                <p>Sugar plum muffin cookie pastry oat cake icing candy canes chocolate. Gummi bears chupa chups
                    fruitcake dessert jelly. Muffin cookie ice cream soufflé pastry lollipop gingerbread sweet.
                    Unerdwear.com bonbon candy marzipan bonbon gummies chocolate cake gummi bears powder.
                    Unerdwear.com
                    tart halvah chocolate cake dragée liquorice. Sugar plum chocolate bar pastry liquorice dragée
                    jelly
                    powder. Jelly tootsie roll applicake caramels. Marzipan candy tootsie roll donut. Gummies ice
                    cream
                    macaroon applicake.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img class="album-photo" src="../assets/pics/madeUnderground.jpg">
            </div>
            <div class="col-md-4">
                <h1>Header Resize On Scroll with Animations</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto assumenda consequuntur
                    dolore eaque earum facilis id, illo incidunt ipsam ipsum odit, perspiciatis praesentium, quae
                    quaerat quam quia recusandae unde? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aliquid beatae consequatur distinctio dolore earum, eius fuga harum hic illum iste maiores
                    natus, nesciunt optio possimus quibusdam recusandae, repellendus sapiente voluptatem.</p>
                <p>Sugar plum muffin cookie pastry oat cake icing candy canes chocolate. Gummi bears chupa chups
                    fruitcake dessert jelly. Muffin cookie ice cream soufflé pastry lollipop gingerbread sweet.
                    Unerdwear.com bonbon candy marzipan bonbon gummies chocolate cake gummi bears powder.
                    Unerdwear.com
                    tart halvah chocolate cake dragée liquorice. Sugar plum chocolate bar pastry liquorice dragée
                    jelly
                    powder. Jelly tootsie roll applicake caramels. Marzipan candy tootsie roll donut. Gummies ice
                    cream
                    macaroon applicake.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>