$black-background-color: rgb(0, 0, 0);
$font-white-color: rgb(255, 255, 255);


* {
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 72px;
    line-height: 108px;
    height: 200px;
    background: #fffff7;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    transition: all 0.4s ease;
}

header.sticky {
    font-size: 24px;
    line-height: 48px;
    height: 100px;
    background: #0b030b;
    text-align: center;
    z-index: 1000;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4),
    0 8px 13px rgba(0, 0, 0, 0.1),
    0 18px 23px rgba(0, 0, 0, 0.1);
    left: 0;
    position: absolute;
    text-align: center;
    top: 90px;
    width: 100%;
    /*left: 0;*/
    /*width: 100%;*/
    color: white;
    font-family: 'Proxima N W01 Bold', 'Helvetica', 'Arial', 'sans-serif';
    display: none;
}

.container-fluid {
    padding-top: 200px;
}

.site-container {
  padding-top: 200px;
}
.container {
    padding: 15px 0 15px 0;
}

.album-photo {
    z-index: -2;
    transition: all 0.4s ease;
}

.blur {
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    z-index: -1;
    transition: all 0.4s ease;
}

.image {
    position: relative;
    /*width: 100%; !* for IE 6 *!*/
}
/*.small {*/
    /*height: 80px;*/
    /*transition: all 0.4s ease;*/
/*}*/
/*.big {*/
    /*height: 180px;*/
    /*transition: all 0.4s ease;*/
/*}*/

h2 {
  color: pink;
}
/*#sc-widget {*/
/*padding-top: 50px;*/
/*}*/

.musicSection {
  background-color: $black-background-color;
  height: 150px;
}

.musicHeader {
  text-align: right;
  vertical-align: middle;
}

.musicText{
  font-size: 110px;
  color: white;
  line-height: 150px;
}

//Sound Cloud container
//height 570px; padding 0%
.soundcloudContainer{
  height: 570px;
  padding: 0%;
}

//SC Widget - widthL 75%, height 570px margin: auto 50px
#sc-widget{
  width: 75%;
  height: 100%;
  margin: auto 50px;
}
