$black-background-color: rgb(0, 0, 0);
$black-font-color: rgb(0,0,0);
$white-font-color: rgb(255, 255, 255);
$white-background-color: rgb(255, 255, 255);

$small-breakpoint: 576px;
$medium-breakpoint: 768px;
$large-breakpoint: 992px;
$xlarge-breakpoint: 1200px;

$navbar-height: 140px;

//Normalize CSS
* {
    box-sizing: border-box;
}


.soundcloudContainer{
  padding: 0%;
}

//SC Widget - widthL 75%, height 570px margin: auto 50px
#sc-widget{
  width: 75%;
  height: 100%;
  margin: auto 50px;
}

@media (min-width: 0px) {
  .site-container{
    padding: 30px;
  }

}

//576
@media (min-width: $small-breakpoint) {
  .album-photo{
    max-height: 200px;
  }
}

//768
@media (min-width: $medium-breakpoint) {
  .album-photo{
    max-height: 100%;
  }
  .soundcloudContainer{
    height: 360px;
  }
}
//992
@media (min-width: $large-breakpoint) {
  .soundcloudContainer{
    height: 470px;
  }
}
//1200
@media (min-width: $xlarge-breakpoint) {
  .soundcloudContainer{
    height: 570px;
  }
}

header {
    position: fixed;
    width: 100%;
    text-align: center;
    line-height: 108px;
    height: $navbar-height;
    font-size: 32px;
    line-height: 48px;
    background: #fffff7;
    color: $black-font-color;
    font-family: 'PT Sans', sans-serif;
    transition: all 0.4s ease;
    padding: 10px;
    a.navLinks{
      color: $black-font-color;
    }
}

#brand {
  float: center;
}

a.navLinks:hover{
  font-weight: bold;
  text-decoration: none;
}

// .myNav{
//   max-width: 100%;
// }


.imgHolder{
  width: 180px;
  height: 180px;
  clear: left;
  display: inline;
}

.navButton{
  display: inline;
  padding: 0px 30px;
  margin-left: 15px;
  margin-right: 15px;
}

header.sticky {
    height: 100px;
    background: #0b030b;
    text-align: center;
    z-index: 1000;
    a.navLinks{
     color: $white-font-color;
    }

}

img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4),
    0 8px 13px rgba(0, 0, 0, 0.1),
    0 18px 23px rgba(0, 0, 0, 0.1);
    left: 0;
    position: absolute;
    text-align: center;
    top: 90px;
    width: 100%;
    /*left: 0;*/
    /*width: 100%;*/
    color: white;
    font-family: 'Proxima N W01 Bold', 'Helvetica', 'Arial', 'sans-serif';
    display: none;
}

.container-fluid {
    padding-top: 200px;
}

.site-container {
  padding-top: 200px;
}
.container {
    padding: 15px 0 15px 0;
}

.album-photo {
    z-index: -2;
    transition: all 0.4s ease;
}

.blur {
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    z-index: -1;
    transition: all 0.4s ease;
}

.image {
    position: relative;
    /*width: 100%; !* for IE 6 *!*/
}
/*.small {*/
    /*height: 80px;*/
    /*transition: all 0.4s ease;*/
/*}*/
/*.big {*/
    /*height: 180px;*/
    /*transition: all 0.4s ease;*/
/*}*/

h2 {
  color: pink;
}
/*#sc-widget {*/
/*padding-top: 50px;*/
/*}*/

.musicSection {
  background-color: $black-background-color;
  height: $navbar-height;
  padding-top: $navbar-height;
}

.musicHeader {
  text-align: right;
  vertical-align: middle;
  background-color: black;
}
// .musicHeader {
//     text-align: right;
//     vertical-align: middle;
//     background-color: grey;
//     margin-top: -10px;
//     height: 150px;
// }

.musicText{
  font-size: 110px;
  color: white;
  line-height: 150px;
  margin-top: 0px;
  margin-bottom: -49px;
}

// .musicText {
//     font-size: 110px;
//     color: white;
//     line-height: 200px;
//     margin: 0px;
// }

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
//Sound Cloud container
//height 570px; padding 0%
