* {
    box-sizing: border-box;
}
header {
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 72px;
    line-height: 108px;
    height: 200px;
    background: #fffff7;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    transition: all 0.4s ease;
}
header.sticky {
    font-size: 24px;
    line-height: 48px;
    height: 100px;
    background: #0b030b;
    text-align: center;
    z-index: 1000;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.container-fluid {
    padding-top: 200px;
}