* {
  box-sizing: border-box; }

.soundcloudContainer {
  padding: 0%; }

#sc-widget {
  width: 75%;
  height: 100%;
  margin: auto 50px; }

@media (min-width: 0px) {
  .site-container {
    padding: 30px; } }

@media (min-width: 576px) {
  .album-photo {
    max-height: 200px; } }

@media (min-width: 768px) {
  .album-photo {
    max-height: 100%; }
  .soundcloudContainer {
    height: 360px; } }

@media (min-width: 992px) {
  .soundcloudContainer {
    height: 470px; } }

@media (min-width: 1200px) {
  .soundcloudContainer {
    height: 570px; } }

header {
  position: fixed;
  width: 100%;
  text-align: center;
  line-height: 108px;
  height: 140px;
  font-size: 32px;
  line-height: 48px;
  background: #fffff7;
  color: black;
  font-family: 'PT Sans', sans-serif;
  transition: all 0.4s ease;
  padding: 10px; }
  header a.navLinks {
    color: black; }

#brand {
  float: center; }

a.navLinks:hover {
  font-weight: bold;
  text-decoration: none; }

.imgHolder {
  width: 180px;
  height: 180px;
  clear: left;
  display: inline; }

.navButton {
  display: inline;
  padding: 0px 30px; }

header.sticky {
  height: 100px;
  background: #0b030b;
  text-align: center;
  z-index: 1000; }
  header.sticky a.navLinks {
    color: white; }

img {
  max-width: 100%;
  max-height: 100%; }

h1 {
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.1);
  left: 0;
  position: absolute;
  text-align: center;
  top: 90px;
  width: 100%;
  /*left: 0;*/
  /*width: 100%;*/
  color: white;
  font-family: 'Proxima N W01 Bold', 'Helvetica', 'Arial', 'sans-serif';
  display: none; }

.container-fluid {
  padding-top: 200px; }

.site-container {
  padding-top: 200px; }

.container {
  padding: 15px 0 15px 0; }

.album-photo {
  z-index: -2;
  transition: all 0.4s ease; }

.blur {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  z-index: -1;
  transition: all 0.4s ease; }

.image {
  position: relative;
  /*width: 100%; !* for IE 6 *!*/ }

/*.small {*/
/*height: 80px;*/
/*transition: all 0.4s ease;*/
/*}*/
/*.big {*/
/*height: 180px;*/
/*transition: all 0.4s ease;*/
/*}*/
h2 {
  color: pink; }

/*#sc-widget {*/
/*padding-top: 50px;*/
/*}*/
.musicSection {
  background-color: black;
  height: 140px;
  padding-top: 140px; }

.musicHeader {
  text-align: right;
  vertical-align: middle;
  background-color: black; }

.musicText {
  font-size: 110px;
  color: white;
  line-height: 150px;
  margin-top: 0px;
  margin-bottom: -49px; }

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }
